Examples/
Histories/
Lectures/
Notes/
Books/
Original_Files/
Syllabus/
Assignments/assn01.pdf
Assignments/assn03
Assignments/assn03.html
Assignments/assn03.tgz
Assignments/assn04.pdf
Assignments/last_name_assn04.xlsx
